<section class="page__share">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta content='IE=7, IE=9' http-equiv='X-UA-Compatible' />
<meta content="width=device-width" name="viewport" />
<style type="text/css">
p {
    padding: 0 0 10px 0;
}
a {
    color: #336699;
}
textarea {
    font: 12px/18px'$global-font-family', Helvetica, Arial, Sans-serif;
}
.header {
    padding-bottom: 15px;
    text-align: center;
}
.wrapper {
    width: 540px;
    margin: 0 auto 80px auto;
    text-align: left;
}
.container {
    position: relative;
    border-width: 0 !important;
    border-color: transparent !important;
    margin: 0;
    text-align: left;
    background-color: #ffffff;
    border-radius: 3px;
    padding: 60px;
    line-height: 150%;
    -moz-box-shadow: 0 1px 6px rgba(0, 0, 0, .12);
    -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, .12);
    box-shadow: 0 1px 6px rgba(0, 0, 0, .12);
}
.clear {
    clear: both;
}
/* Form */

form {
    font: 16px/20px'$global-font-family', Arial, sans-serif;
    display: block;
    padding: 6px 0 10px 0;
}
label {
    clear: both;
    display: block;
    margin: 8px 0;
    font-weight: bold;
    position: relative;
    line-height: 150%;
    font-family: $global-font-family;
    font-size: 14px;
    color: #333333;
}
.email-group input {
    display: block;
    float: left;
    width: 60%;
    margin: 0 10px 0 0;
    min-width: 200px;
    padding: 12px 10px 11px 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    box-shadow: none;
}
.email-group .button {
    width: 30%;
    margin: 0;
    min-width: 75px;
}
.error,
.errorText {
    margin: 5px 0 0 0;
    padding: 10px;
    font-size: 14px;
    color: #6b0505;
    background-color: #f4bfbf;
}
.formstatus {
    margin-bottom: 10px;
}
.success {
    background: #e4f3d4;
    font-size: 14px;
    color: #5ca000;
    margin: 10px 0;
    padding: 10px;
    font-family: 'Helvetica Neue', Helvetica, Arial, Sans-serif;
}
.success a {
    color: #5ca000;
    text-decoration: underline;
}
.rounded {
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
}
.button,
.button-small {
    display: inline-block;
    white-space: nowrap;
    height: 40px;
    line-height: 42px;
    margin: 0 5px 0 0;
    padding: 0 22px;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    font-style: normal;
    font-size: 14px;
    cursor: pointer;
    border: 0;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    vertical-align: top;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
}
.button-small {
    float: none;
    display: inline-block;
    height: auto;
    line-height: 18px !important;
    padding: 2px 15px !important;
    font-size: 11px !important;
}
.button:hover,
.button-small:hover {
    opacity: .8;
}
/* Mobile Tweaks */

body {
    -webkit-text-size-adjust: none;
}
input {
    -webkit-appearance: none;
}
input[type=checkbox] {
    -webkit-appearance: checkbox;
}
input[type=radio] {
    -webkit-appearance: radio;
}
/* Customizable Theme Bits */
.byline {
    font-size: 18px;
    font-family: Georgia, Times New Roman, Times, serif;
    color: #111111;
}
.description,
label,
.fake-label {
    font-family: $global-font-family, Times New Roman, Times, serif;
    color: #111111;
}
.button {
    font-family: Helvetica, Arial, sans-serif;
    color: #FFFFFF;
    background-color: #333333;
}
/* Fly-out tinyletter Panel */

/* apply a natural box layout model to all elements */
*,
*:before,
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
/* Hide for all but screen readers */
.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
}
@media only screen and (max-width: 50em) {
    body {
        padding-top: 30px;
        min-width: 100%;
    }
    .wrapper {
        width: 96%
    }
    .container {
        padding: 30px 15px
    }
}
@media only screen and (max-width: 40em) {
    body {
        background-image: none!important;
    }
    .email-group input {
        float: none;
        width: 100%;
        margin: 0 0 12px 0;
        min-width: inherit;
    }
    .email-group .button {
        width: 100%;
    }
}
</style>
<div class="wrapper">
    <div class="description">If you liked our blog then please do subscribe. Get updates on every new post right after we publish them.</div>
    <form id="subscribe-form" method="post" action="https://tinyletter.com/cookieblog">
        <div class="email-group">
            <label for="email" class="sr-only">Email</label>
            <input type="email" id="email" name="email" value="" placeholder='email@example.com' />
            <button class="button" type="submit">Subscribe</button>
        </div>
    </form>
</div>
</section>